.header1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#243C58 ;
}
.left{
    color: white;
    margin-left: 20px;
}
.right{
    font-size: 20px;
    margin-right: 50px;
}
.icon5{
    color:#2a84ed;
    display: flex;
    gap: 20px
}
