@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Poppins', sans-serif;

}

/* Add styles for the entire app */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  

  .filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter-section label {
    font-weight: bold;
  }
  
 
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
 
  .course-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h3 {
    margin: 0;
  }
  
  
